//BUTTON BLOCK:

.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  padding: 21px 0;

  border-radius: 40px;

  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  text-decoration: none;
  text-align: center;

  transition: color $transition-duration,
    background-color $transition-duration,
    box-shadow $transition-duration,
    border-color $transition-duration,
    transform 0.2s;

  &--primary {
    width: 100%;
    max-width: $input-max-width;

    color: $main-bg-color;

    background: $color-white;
    box-shadow: $button-primary-shadow;
    border-color: transparent;

    &:hover {
      box-shadow: $button-hover-shadow;
      transform: scale(1.01);
    }
    &:active {
      box-shadow: $button-active-shadow;
      transform: scale(0.9);
    }
  }

  &--to-top {
    z-index: 5;
    position: fixed;
    right: 40px;
    bottom: 50px;
    @include icon-square(50px);

    background: $color-white;

  }
}
