//FOOTER BLOCK:

.footer {
  display: flex;
  justify-content: start;
  align-items: center;

  background-image: url("../images/photos/footer.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  //height: 320px;
  height: 40vh;

  padding: 0 35px;

  @include onDesktop {
    height: 50vh;
    justify-content: end;
  }
}
