$c-gray: #eee;
$color-white: #fff;
$color-black: #000;
$light-yellow-color: #fff6c1;
$grey-color: #c2c2c2;

$red-color: #ff9a9a;

$main-bg-color: #1d1d1d;
$regular-text-color: #3e3e3e;
$form-bg: #f7f8ff;
$placeholder-font-color: #7e7e83;
$input-font-color: #292929;
$tracperant-text: #9fadc2;

$button-primary-shadow: 0 6px 23px rgba(232, 232, 240, 0.2);
$button-hover-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
$button-active-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
$logo-shadow: 1px 4px 6px rgba(232, 232, 240, 0.5);

$transition-duration: 0.4s;

$input-max-width: 550px;
